# OS / IDE
.DS_Store
.vscode/
**/.DS_Store

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Datasets (do NOT commit)
data/
data/**/*

# Outputs / predictions / xai artefacts (do NOT commit)
outputs/
outputs/**/*
models/
*.task
