# OS / IDE
.DS_Store
.vscode/
**/.DS_Store

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Datasets 
data/**/*

# Outputs / predictions / xai artefacts 
outputs/
outputs/**/*
models/
*.task

__pycache__/
*.pyc
.DS_Store
outputs/
data/celebdf/
